In [3]:
print("Hello World")

Hello World

In [2]:
print('Maggie')

Maggie

In [4]:
#This is multi line comments below using hash symbol
# This is my code
# I want it to print something for me
print('Dalu')

Dalu

In [5]:
'Maggie'

'Maggie'

In [4]:
'''This is my testimony
God has been faithful to me
God is so good
'''
print('you are good')

you are good

In [8]:
"""
This is my testimony
God has been faithful to me
God is so good

"""
print('this is my code above')

this is my code above

# Variable

In [10]:
name = 'Eva'

In [9]:
my_name = "Maggie"

# Hoi

In [11]:
print(my_name)

Maggie

In [11]:
name

'Eva'

In [12]:
my_name2 = "Paul"

In [13]:
print(my_name)

Paul

# Data Types

In [15]:
# Data Types

integer = 12
Float = 10.5
Boolean = True,False
Complex_number = 3 + 6j
Strings = 'Eva'
List = [1,'a',True]
Tuple =(1,'a',True)
Set = {2,3,5,"f"}
Dictionary = {'name':'Eva','age':4565}

In [19]:
student_detail = {'name':"Segun",'matric_no':345678,'age':1234,'course':['phy','maths','eng']}

In [20]:
print(student_detail)

{'name': 'Segun', 'matric_no': 345678, 'age': 1234, 'course': ['phy', 'maths', 'eng']}

In [15]:
x = 45.0
type(x)

float

In [16]:
my_list = [12,34.56,"Bayo",True]
print(my_list)

[12, 34.56, 'Bayo', True]

In [17]:
type(my_list)

list

In [18]:
hg = {1,1,1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,5}
print(hg)

{1, 2, 3, 4, 5}

In [16]:
First_Name = 'Eva'

In [17]:
My_Name_is = 'Evie'

# Variables that cannot be used

In [ ]:
1_hello
@hello
h1234#4
-theme

# Class Exercise

# multi line comments with ash

In [1]:
# This is a multiline comment using ash below
# Holla from below
# Welcome to my comments
# How is my ash sign
# Byeeeeeee
print('Hi')

Hi

# multi line comments

In [3]:
'''Its break time
Everyone is going out
Happy shopping'''
print('Break Time')

'''Bordom
I am bored
Happy bordom'''
print('Bordom')

'''Ennie is cool
Ennie is annoying
Ennie can be boring'''
print('Ennie')

Break Time
Bordom
Ennie

# Variables

In [2]:
Name = 'Eva'
Age = '13'
Fav_color = 'Pink'
Fav_food = 'unknown'
Height = '170'
School = 'ISI'
Class = 'SS1'
Hobby = 'Music'
Friends = ['Ennie','Dami']
Fav_sports = 'Swimming'

In [3]:
x = 12
y = 'Ennie'

In [ ]:
int('')
float('')
complex('')

In [ ]:
Age=(complex( input (Enter your age))

# DATA TYPES

# Numeric Types

In [1]:
#integer
a = 25
b = 50
c =1290
boo = 4589
balablue = 45

In [2]:
print(a)

25

In [5]:
print(b)

50

In [4]:
print(c)

1290

In [6]:
#float
yet = 45.78
evie = 34.23

In [7]:
print(yet)

45.78

In [8]:
print(evie)

34.23

In [10]:
#complex numbers
gigi = 3 + 8j
well = 2 + 19j

In [12]:
print(gigi)

(3+8j)

In [13]:
print(well)

(2+19j)

In [14]:
type(a)

int

In [15]:
type(gigi)

complex

In [17]:
y = 3

In [18]:
type(y)

int

 # Text Type

# String

In [26]:
name = 'Evie'
Age = '13'
Fav_Animal = 'Ennie'
Nationality = 'Nigerian'
Gender = 'F'

In [21]:
print(name)

Evie

In [22]:
print(Age)

13

In [23]:
print(Fav_Animal)

Ennie

In [27]:
print(Nationality)

Nigerian

In [28]:
print(Gender)

F

In [29]:
num = 20000000
text = str(num)
print(text)

20000000

In [30]:
type(text)

str

In [31]:
numb = str(200000000)
print(numb)

200000000

In [32]:
type(numb)

str

In [1]:
print('girl')

girl

In [2]:
age = float(input('enter your age:'))
print('your age is', age)

enter your age:09
your age is 9.0

# Multiline Strings

In [31]:
e = '''
        It was fun when I was still a litte child.
        Everyone was friendly, not caring who is whom,
        now everybody is more focused on what you have,          
    '''

In [32]:
print(e)

        It was fun when I was still a litte child.
        Everyone was friendly, not caring who is whom,
        now everybody is more focused on what you have,

In [1]:
a = 'Hello World!'

In [2]:
len(a)

12

In [3]:
print(a[0])

H

In [8]:
print(a[11])

!

In [9]:
print(a[5])

In [11]:
print(a[0])

H

In [13]:
len(a)

12

In [16]:
print(a[8])

r

In [17]:
b = 'Holla Mi Amigos'

In [18]:
print(3)

3

In [21]:
print(b[6])

M

In [24]:
print(b[1])

o

In [25]:
print(b[0])

H

In [26]:
print(b[1])

o

In [28]:
print(b[2])

l

In [29]:
len(b)

15

In [30]:
len(e)

182

# Boolean Type

In [2]:
print(10>9)

True

In [3]:
greater_than = 11 > 6
print(greater_than)

True

In [4]:
print(15==9)

False

In [5]:
print(7<2)

False

In [4]:
a = int(input("Enter your value for a :"))
b = int(input("Enter your value for b :"))

if b > a:
    print('b is greater than a')
else:
    print('b is not greater than a')

Enter your value for a : 44
Enter your value for b : 20

b is not greater than a

In [5]:
current_year = 2024
YOB = int(input("Enter your year of birth: "))
your_age = current_year - YOB
print("Your age is", your_age, "years old")

Enter your year of birth:  1900

Your age is 124 years old

In [7]:
import calendar
Year = int(input("Type in the year in number: "))
call = calendar.prcal(Year)
print(call)

Type in the year in number:  2030

                                  2030

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31
None

# Sequence Type

 # List

In [28]:
thislist = ['apple','orange','pineapple','water-melon']

In [31]:
print(thislist)

['apple', 'orange', 'pineapple', 'water-melon']

In [32]:
print(len(thislist))

4

In [35]:
TNFR = ['money', 'shoes', 'bags', 'new-frame', 'notes', 'laptop', 'wristwatch', 'new-assistant']

In [37]:
print(TNFR[4])

notes

In [39]:
type(thislist)

list

In [40]:
mylist = list(('rice','shawama','beans','bread','sweetner','fufu','amala'))

In [42]:
type(mylist)

list

In [44]:
type(mylist)

list

# TUPLE

In [46]:
mylist[1] = 'yam'

In [47]:
print(mylist)

['rice', 'yam', 'beans', 'bread', 'sweetner', 'fufu', 'amala']

In [50]:
my_tuple = ('rice','shawama','beans','bread','sweetner','fufu','amala')

In [51]:
print(my_tuple)

('rice', 'shawama', 'beans', 'bread', 'sweetner', 'fufu', 'amala')

In [52]:
type(my_tuple)

tuple

In [54]:
my_tuple[4]

'sweetner'

In [57]:
type(mylist)

list

In [61]:
print(mylist)

['rice', 'yam', 'beans', 'bread', 'sweetner', 'fufu', 'amala']

# Range

In [66]:
x = range(10,100,10)
for n in x:
    print(n)

10
20
30
40
50
60
70
80
90

# MAPPING TYPE

# Dictionary

In [68]:
student1 = {'Eva':60, 'Osaventohan':90,'Uje':78}
student2 = {'Eniola':50,'Razzy':89,'Oore':20,'Fefe':8}

In [69]:
type(student1)

dict

In [70]:
print('The items in the dictionary are: ',student1.items())

The items in the dictionary are:  dict_items([('Eva', 60), ('Osaventohan', 90), ('Uje', 78)])

In [71]:
print('The keys in the dictionary are: ',student1.items())

The keys in the dictionary are:  dict_items([('Eva', 60), ('Osaventohan', 90), ('Uje', 78)])

In [72]:
print('The values in the dictionary are: ',student1.values())

The values in the dictionary are:  dict_values([60, 90, 78])

In [73]:
# The scores of each students in their last exams
# It will be in this order: Maths, Eng, Phy, CHEM
Students_scores ={'Bayo':[70,50,65,81],'Miracle':[60,75,64,45],'Xena':[20,15,2.5,100]}

In [74]:
Emp_Id = {'Name':'Ola','Age':1500,'Salary':55,
         'Gender':'Female','No of Children':['Rag','Stone','Gate','Water Water','Chicken']}

In [75]:
print(Emp_Id)

{'Name': 'Ola', 'Age': 1500, 'Salary': 55, 'Gender': 'Female', 'No of Children': ['Rag', 'Stone', 'Gate', 'Water Water', 'Chicken']}

# Set

In [8]:
# method 1:
evie = {1,1,1,2,2,2,3,3,3,4,4,4,5,5,5}
print(evie)

{1, 2, 3, 4, 5}

In [4]:
# method 2:
gengen1 = set([1,23,45,68,79])
print(gengen1)

{1, 68, 45, 79, 23}

In [5]:
type(gengen1)

set

In [6]:
# Set operation
b1 = set([3,5,6])
b2 = set([1,3,5])
#union = |
b3 = b1|b2
print(b3)

{1, 3, 5, 6}

In [7]:
# Intersection =&
b4 = b1&b2
print(b4)

{3, 5}

In [8]:
#Difference = -
b5 = b1 - b2
print(b5)

{6}

In [9]:
b6 = b2 - b1
print(b5)

{6}

# Binary Type

# Examples

In [12]:
a ='Hello World' #string
b = 47 #integer
c = 56.8 #float
d = 5 + 1j #complex
e = ['apple','banana','orange'] #list
f = ('apple','banana','orange') #tuple
g = range(6) #range
h ={'name':'Paul', 'age':75} #dictionary
i = {'apple','banana','orange'} #set
j = frozenset({'apple','banana','orange'}) #frozenset
k = True #boolen
l = b'Hello' #bytes
m = bytearray(5) #bytearry
n = memoryview(bytes(5)) #memoryview
o = None #None

In [15]:
x = {'name': 'Paul', 'age':75, 'school': 'unibadan'}
type(x)

dict

In [16]:
print(x)

{'name': 'Paul', 'age': 75, 'school': 'unibadan'}

# Casting/conversion

In [2]:
#We can check if a certain phrase or character is preasent in a string, we can do that by using the keyword in

txt = 'Let the grace of thy Lord be with you.'
print('grace' in txt)

True

In [6]:
# We can use print only if statement
if 'Lovely' in txt:
    print("You're so lovely")

In [7]:
print('amen' in txt)

False

# Methods

# HOW TO USE METHOD KEYWORD

In [31]:
s = "Learning Python is good"

In [32]:
len(s)

23

In [33]:
# For lowercase
love = s.lower()
print(love)

learning python is good

In [15]:
K = "THIS IS MY TESTIMONY!!!"
LE = K.lower()
print(LALA)

this is my testimony!!!

In [16]:
print(LE)()

this is my testimony!!!

In [18]:
# for uppercase
ghenghen = "abcdefghijklmnopqrstuvwxyz"
up = ghenghen.upper()
print(up)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [19]:
# For swapping cases
bv = up.swapcase()
print(bv)

abcdefghijklmnopqrstuvwxyz

In [21]:
swap = LE.swapcase()
print(swap)

THIS IS MY TESTIMONY!!!

In [24]:
# 
din = "my name is Eva"
gin = din.capitalize()
print(gin)

My name is eva

In [25]:
wah = din.title()
print(wah)

My Name Is Eva

In [26]:
max(bv)

'z'

In [27]:
min(bv)

'a'

In [31]:
din.count('m',0,len(din))

2

In [37]:
done = din.replace('Eva','Evie')
print(done)

my name is Evie

In [42]:
wow = din.replace('is','was')
print(wow)

my name was Eva

# Exercise
- create new notebook, name it exercise
- Write your name using markdown at the beginning of the notebook
- Use all the methods

# String Concatenation
- This is where we add two or more strings together

In [48]:
a = "Hey,"
b = 'Eva!'
print(a + ' ' + b)

Hey, Eva!

In [51]:
num = '13'
age = 'years old'
print(num + ' ' + age)

13 years old

In [63]:
m = 13
n = 'years old'
print(str(m) + n)

13years old

In [62]:
o = '20'
p = '10'
print(o + p)

2010

# Format in Strings

### Method 1

In [57]:
age = 13
print(f'I am {age} years old')

I am 13 years old

In [61]:
country = 'Nigeria'
print(f'I love my country, {country}')

I love my country, Nigeria

In [1]:
age = int(input("Enter your age yo!:"))
print(f"I am {age} years old")

Enter your age yo!:13
I am 13 years old

In [76]:
Country =str(input("Enter the name of your country: "))
print(f"The name of my country is {country}")

Enter the name of your country: Nigeria
The name of my country is Nigeria

### Method 2

In [79]:
my_age = 13
txt = 'My name is Eva, and I am {} years old'
print(txt.format(my_age))

My name is Eva, and I am 13 years old

# Escape Character

In [83]:
# \' sigle Quate
print('I\'m a girl')

I'm a girl

In [84]:
print("I'm a girl of high class")

I'm a girl of high class

In [86]:
# \\ backslash
print('It\'s called \\backslash')

It's called \backslash

In [94]:
# \n new line
print("What's up bruvs\nhow u doin")

What's up bruvs
how u doin

## Assignment
- Use string concatenation, format and escape character

# Other Escape Character
- \a = Bell or alart
- \b = Backspace
- \f = formfeed
- \n = new line
- \r = carriage return
- \s = space
- \t = Tab

#  PYTHON OPERATORS

In [95]:
# For example we use + to add up
print(10 + 5)

15

#### Python divides the operators in the following groups:
- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

### Arithmetic Operators

In [96]:
# Addition
x = 56
y = 54
print(x + y)

110

In [97]:
# subtraction
print(x - y)

2

In [98]:
#Multiplication
print(x * y)

3024

In [99]:
#Divition
print(x/y)

1.037037037037037

In [100]:
# Module
# This will give us the remainder after dividing
print(x % y)

2

In [101]:
b = 4
m = 3
print(b % m)

1

In [102]:
# Exponential
print(b ** m)

64

In [114]:
x = 10**100

In [115]:
print(x)

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [103]:
# Floor divition
print(x // y)

1

In [118]:
print(30//8)

3

In [119]:
import numpy as np
np.square(4)

16

# Assignment operator

In [120]:
x = 5
print(x)

5

In [121]:
x += 3
print(x)

8

In [122]:
# x += 3
m = x + 3
print(3)

3

In [126]:
b = 4
b *= 3
print(b)

12

In [127]:
v = 9
v /= 3
print(v)

3.0

# Comparison operators
- Less than <
- Greater than >
- Less than or equal to <=
- Greater than or equaal to >=
- Equal ==
- Not equal !=

In [6]:
# less than <
a = 321
b = 654
print(a<b)

True

In [7]:
# Greater than >
print(a>b)

False

In [8]:
print(b>a)

True

In [9]:
# Less tghat or equal to <=
print(4<=4)

True

In [10]:
print(9<=23)

True

In [11]:
print(45<=14)

False

In [12]:
# Greater than or equal to
print(45>=45)

True

In [13]:
print(34>=131)

False

# Logical operators
 - not
 - or
 - and

In [14]:
# not
x = 4
not(x<5 and x<10)

False

In [17]:
# or
x = 4
x>3 or x >10

True

In [18]:
# and
x = 4
x<3 and x < 2

False

In [20]:
y = 34
y<45 and y<23

False

# Identity operators
- is
- is not

In [27]:
# is
x = "Evie"
y = 13
print(x is y)

False

In [28]:
m = 34
n = 23.4
m is n

False

In [29]:
# is not
x is not y

True

In [30]:
m is not n

True

In [31]:
b = 33
d = 31
d is not b

True

# Membership Opereators
- in
- not in

In [7]:
S = "Learning python is exhausting"
"exhausting" in S

True

In [8]:
"WOW" in S

False

In [9]:
"Learning" not in S

False

In [10]:
"ALRIGHT" not in S

True

In [11]:
# we can check if a certain phrase or character is present in a string, we can do that by using the keyword in
    
txt = "We keep moving by the speciacl grace of God"
print('grace' in txt)

True

In [16]:
# We can check if a certain phrase or character is not present, we can do that  by using the keyword not in 
print('wow' not in txt)

True

In [18]:
# We can use print only if statement
if 'grace' in txt:
    print('Holla, mi amigos.')

Holla, mi amigos.

 # Conditional Statement
 - if 
 - else
 - elif

 ## Syntax for Logical statement
 - if (logical expression):
 
        statement(s)
  
   else:
   
        statement(s)

In [27]:
Grade = int(input("Enter your score: "))
if Grade <= 69:
    print("Second class lower")
else:
    if Grade <=79:
        print("First class upper")
    else:
        print("Sorry!, you're not eligable for this class")

Enter your score: 78
First class upper

In [25]:
# define the budget price
price = 350
budget = int(input('Enter your budget(in dollers): '))

# if-else statement
if price <= budget:
    print('Congrats! You can buy the iphone')
else:
    print('Sorry! The mobile price is more than your budget')

Enter your budget(in dollers): 400
Congrats! You can buy the iphone

In [34]:
Memory = int(input('Enter the memory: '))

if Memory == 32:
    print('The price of the phone is $600')
elif Memory == 64:
    print('The price of the phone is $700')
elif Memory == 128:
    print('The price of the phone is $900')
elif Memory == 256:
    print('The price of the phone is $1300')
else:
    print('Please enter a valid memory requirement')

Enter the memory: 128
The price of the phone is $900

In [38]:
Grade = int(input("Enter your score: "))
if Grade <= 45:
    print("Third class")
elif Grade <=59:
    print("Second class lower")
elif Grade < 70:
    print("Second class upper")
else:
    print("First class")

Enter your score: 85
First class

## Exercise
Imagine acustomer to buy gadget from your mummy's shop but has a limited budget. Thus, his decision to buy is based on the condition that the price comes under his budget. Let's say his budget is #10,000

 As a python programmer write a code in Python that prints whether the customer can buy the gadget or not based on his budget

    
Write a code to tell students their grade after checking their scores. Create a box where they can put in there scores to know their grade

- Note:80+ = Distinction

   - 70 to 79 = Excellect
   - 60 to 69 = Very Good
   - 50 to 59 = Goood
   - 40 to 49 = Fail

# Looping Statements

Supposing the store wants to check the price of the Apple iPhone(4GB, 128GB)after providing5%,10%,15%,and 20% discounts nrespectively. Instead of calculating the discounted prices multiple times, looping statements can be used to achieve this.

Let us write a code in python that prints the discounted price for each of the above-mentioned discounts.

Loops are used in Python tp iterate over a sequence.

The syntax of the 'for loop' is:

   for iterator_var in sequence:
         statements(s)

With the while loop you can execute a set in a statement as long as the condition is true

# LOOPING STATEMENT

# While loops

# Syntax for while loop
 while condition:
        
   - statement(s)
  - if condition:

In [3]:
i = 1
while i < 6:
    print(i)
    i +=1

1
2
3
4
5

In [9]:
i = 1
while i < 6:
    print(i)
    i +=2

1
3
5

In [10]:
e = 13
while e < 54:
    print(e)
    e +=4

13
17
21
25
29
33
37
41
45
49
53

# The Break Statement

In [12]:
e = 1
while e < 20:
    print(i)
    if e == 13:
        break
    e +=1

1
2
3
4
5
6
7
8
9
10
11
12
13

# The continue statement

In [13]:
e = 0
while e < 20:
    e += 1
    if e == 17:
        continue
    print(e)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
18
19
20

# Looping Statement