In [ ]:
Python is a programming language.
It can be used for game development, software development, 
website development, machine learning, data science etc.

In [ ]:
Python has 3 main datatypes
1. String
2. Integer
3. Float/ Floating point number

In [ ]:
Other Datatype
Lists
Booleans
Dictionaries
Sets

In [ ]:
String - it is a combination of characters enclosed in single or
double quotation marks

In [ ]:
'abc'
" abc.  "
"?Wnuu839***#"

In [ ]:
There are two types of strings
1. singleline strings - strings that are enclosed in '' or ""
2. Multiline strings - strings that are enclosed in ''' ''' or 
""" """

In [ ]:
'' - single quotation marks
"" - double quotation marks

In [1]:
"""Hello there
How are you?
Welcome to TRD"""

'Hello there\nHow are you?\nWelcome to TRD'

In [ ]:

'123'
'a b c'

In [ ]:
Escape characters - These are special characters in a string that
cause a unique type of behaviour

In [ ]:
\ - escape character
\n - jumps to a new line when printing your string
\t - creates space when printing your string
\\ - disable the escape character

In [4]:
"Hello there\nMy name is ayo.\tToday\'s  date is 11\\9\\2024"

"Hello there\nMy name is ayo.\tToday's  date is 11\\9\\2024"

In [3]:
print("Hello there\nMy name is ayo.\tToday\'s  date is 11\\9\\2024")

Hello there
My name is ayo.	Today's  date is 11\9\2024

In [ ]:
"" - empty string

In [ ]:
printing
This is the use of the print function to put a value on your screen

In [ ]:
Integers - They are whole numbers

In [ ]:
1, 2, 3, 10900, etc.

In [5]:
a = 345
type(a)

int

In [ ]:
Floats

In [ ]:
1.8647, 1.235, 200.7

In [ ]:
1.0

In [ ]:
Operators - They are used to carry out numerical operations
BODMAS
+ - addition
- - subtraction
* - multiplication
/ - division
// - integer division
% - modulus or in remainder after integer division
** - exponentiation or in simpler words raised to the power of
() - parenthesis or in simpler terms brackets

In [2]:
5 / 2

2.5

In [3]:
5 // 2

2

In [4]:
5 % 2

1

In [5]:
5 ** 2

25

In [ ]:
The operators mentioned will work freely on the integer and the 
float datatype.

In [ ]:
Certain operators work on strings, these are the + and the * 
operators

In [ ]:
String Operation
+ operation - concatenation
This is the addition of two or more strings together.
Note: This operation only works when two or more strings are 
involved i.e it won't work for integers or floats

In [8]:
"hello " + "there"

'hello there'

In [11]:
'Hello, my age is ' + '17'

'Hello, my age is 17'

In [ ]:
* - Replication Operation
This helps to replicate the required string a given number of times
Note: This operations only works when a string and an integer are
involved. Also the order is important

In [9]:
print("hello" * 4)

hellohellohellohello

In [11]:
print("bawo ni  " * 4)

bawo ni  bawo ni  bawo ni  bawo ni

In [ ]:
type function:
It gives us the datatype of the value passed into it

In [7]:
type(1)

int

In [ ]:
variables
Simplest Definition
These are containers that we keep our values inside.

In [ ]:
There are a few rules that we must follow when naming variables
1. variables must not begin with a number
2. variable must not begin with an character that is not an alpabet
or the '_' character
3. variables must not have whitespace in them, rather this spaces 
must be replaced with the '_' character
4. variables must not be enclosed in any type of quotation marks
5. variables can only be made up of alphanumeric characters and 
the underscore "_" character

In [ ]:
the assignment statement
This is a statement used to assign value(s) to a variable

it follows the format
variablename   assignment-operator    value
assignment operator =

In [12]:
name    =        'Ayo'
age     =         17

In [13]:
name

'Ayo'

In [14]:
age

17

In [ ]:
Topic covered
3 main datatypes
types of strings
escape characters
print function
operators
string operations
type function
variables

In [21]:
name = 'Ayo'
age = '20'
hobby = 'Writing Code'

In [28]:
print("Hello my name is " + name + ' my age is ' + age + ' and my hobby is ' + hobby)

Hello my name is Ayo my age is 20 and my hobby is Writing Code

In [ ]:
# 3. Numerical operators
# define variables for two numbers.
# Perform addition, subtraction, division, multiplication operation on
# your variables
# print the results

In [15]:
var1 = 5
var2 = 3
print(var1+var2)
print(var1-var2)
print(var1/var2)
print(var1*var2)

8
2
1.6666666666666667
15

In [16]:
type(var1)

int

In [ ]:
Exercise
1. Variables and the Print function
defines variables that contain your name, age and hobby


3. Numerical operators
define variables for two numbers.
Perform addition, subtraction, division, multiplication operation on
your variables
print the results

4. String concatentation and Replication
define variables for two strings
concatenate the strings
replicate one of the strings 5 times
print the results

5. Type Checking
Define variables of different types (i.e int, float, str)
use the type function to print out the datatype of each variable

6. Escape character and Formatting
Usibng escape characters, format the string below nicely
"Roses are red,{newline}Violets are blue,{newline}Python is great,{newline}
and so how are you"

In [ ]:
4. String concatentation and Replication
define variables for two strings
concatenate the strings
replicate one of the strings 5 times
print the results

In [1]:
a = 'hello'
b = ' There'
print(a + b)
print(a * 5)

hello There
hellohellohellohellohello

In [ ]:
5. Type Checking
Define variables of different types (i.e int, float, str)
use the type function to print out the datatype of each

In [2]:
a = 10
b = 11.5
c = 'hello'
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

# Escape Character

In [ ]:
6. Escape character and Formatting
Usibng escape characters, format the string below nicely
"Roses are red,{newline}Violets are blue,{newline}Python is great,{newline}
and so how are you"

In [3]:
print('Roses are red,\nViolets are blue,\nPython is great,\nand so How are you')

Roses are red,
Violets are blue,
Python is great,
and so How are you

In [10]:
print('''Roses are red,
\tViolets are blue,
\tPython is great,
\tand so How are you''')

Roses are red,
	Violets are blue,
	Python is great,
	and so How are you

In [13]:
print("I'm a boy")

I'm a boy

In [14]:
print('I\'m a boy')

I'm a boy

In [16]:
print("This is a symbol of backslash \\")

This is a symbol of backslash \

In [20]:
txt = "Hello\rWorld!"
print(txt)

World!

In [21]:
print("\110\145\154\154\157")

Hello

In [29]:
print("\110")

H

In [7]:
print("\141")

a