In [ ]:
Booleans *
Lists
Tuples
Sets
Dictionaries

In [ ]:
"a" is not "A"
a is not A

False

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\MC MAGGIE\AppData\Local\Temp\ipykernel_15832\2988939871.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(1 is not 1)

In [ ]:
python is case sensitive

In [ ]:
Booleans - True and False

In [ ]:
Boolean Operations
and
or
not

In [ ]:
Truth Tables
and - it is a very strict operation that returns the boolean value 
True if and only if both of the initial values are True otherwise 
it returns false

In [1]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
True and True and False and True

In [ ]:
or - it is a very flexible operation that returns the boolean value 
True if and only if atleast one of the initial values are True 
otherwise it returns false

In [2]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
(True and False or True) and False or True

In [10]:
user = input("Enter your username: ")
password = input("Enter your password: ")
if (user == "McMaggie" and password == "2024"):
    print("You've logged in")
else:
    print("You are not eligible")

Enter your username:  McMaggie
Enter your password:  2020

You are not eligible

In [ ]:
not - it is a very straight forward operation that returns the 
inverse of the initial boolean value

In [ ]:
The opposite True is false and vice versa

In [ ]:
not False

In [ ]:
Lists - This is a ordered and mutable collection of datatypes.
A list is denoted by square brackets "[]".
Each member is seperated by a comma. This is very important.

In [ ]:
[1, 2, 3, 4, 'hello', 'how', 'are', 'you', 1.0, 2.567, [True, 
                                                        False]]

In [ ]:
A list that contains one or more seperate lists is called a
nested list.

In [ ]:
When i say a list is ordered, I mean that every element in the list
has a certain position and this position has a certain index that
distinguishes it from our list.

Python has two styles of indexing
1. Zero indexing or Forwards Indexing
2. Negative indexing or Backwards indexing

In [ ]:
an index is an integer that denotes the position of an element in
a list

In [ ]:
 0. 1. 2. 3.   4.       5.     6.     7. -> Zero Indexing
[1, 2, 3, 4, 'hello', 'how', 'are', 'you']
 .   .   .   .   -4    -3     -2     -1 -> Negative Indexing

In [ ]:
Note: To get the index, you need to subtract 1 from the position

In [ ]:
To make use of the indexing you will follow the format below
List/Variable containing your list [index]

In [19]:
my_list = [1, 2, 3, 4, 'hello', 'how', 'are', 'you']
my_list[]

[1]

In [20]:
my_list2 = ['a', 'b', 'c', 'd', 
 ['e', 'f', ['g', ['h', 'k']]]
]

In [21]:
print(my_list2)

['a', 'b', 'c', 'd', ['e', 'f', ['g', ['h', 'k']]]]

In [28]:
my_list2[4][2][1][0]

'h'

In [31]:
['a', 'b', 'c', 'd'][0:2]

['a', 'b']

In [ ]:
List slicing - this is a slightly advanced form of list indexing
It is used to retrieve multiple elements within a particular range
from a list

In [29]:
To make use of the list slicing you will follow the format below
List/Variable containing your list [start_index : stop_index]
Note: The element of your stop index is excluded from the sliced
list.

SyntaxError: invalid syntax (3930167413.py, line 1)

In [41]:
[1, 2, 3, 4, 'hello', 'how', 'are', 'you', 1.0, 2.567][-2:]

[1.0, 2.567]

In [ ]:
mutable - This means that lists can be altered after creation.

In [42]:
original_list = [1, 2, 3, 4, 'hello', 'how', 'are', 'you', 1.0, 
                 2.567]

In [ ]:
To remove element from your list

In [43]:
del original_list[4]

In [44]:
original_list

[1, 2, 3, 4, 'how', 'are', 'you', 1.0, 2.567]

In [ ]:
To remove elements from your list

In [45]:
del original_list[4:7]

In [46]:
original_list

[1, 2, 3, 4, 1.0, 2.567]

In [ ]:
To add an element to your list

In [48]:
original_list + [1, 5]

[1, 2, 3, 4, 1.0, 2.567, 1, 5]

In [ ]:
To modify or replace items in your list

In [52]:
original_list

[1, 2, 3, 4, 'hello', 2.567]

In [53]:
original_list[4] = "1.0"
original_list

[1, 2, 3, 4, '1.0', 2.567]

In [ ]:
Tuples - This is a ordered and immutable collection of datatypes.
A list is denoted by parenthesis aka curved brackets "()".
Each member is seperated by a comma. This is very important.

In [54]:
The same rules that apply for list indexing and slicing also apply
for tuples.

'hello'

In [55]:
original_tuple = (1, 2, 3, 4, 'hello', 'how', 'are', 'you', 1.0, 
                 2.567)

In [ ]:
To remove element from your tuple

In [56]:
del original_tuple[4]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
add element to tuple

In [57]:
original_tuple + (2)

TypeError: can only concatenate tuple (not "int") to tuple

In [ ]:
modify the elements in our tuple

In [58]:
original_tuple[2] = 'Changed'

TypeError: 'tuple' object does not support item assignment

In [ ]:
Sets - This is an unordered and mutable collection of datatypes.
A set is denoted by curly braces aka curly brackets "{}".
Each member is seperated by a comma. This is very important.
The set datatype does not allow repetitions.

In [63]:
{1, 1, 1, 2, 3, 2, 3, 2, 3, 4}

{1, 2, 3, 4}

In [70]:
set1 = {1, 2, 3, 4}

In [71]:
To add element to your set

SyntaxError: invalid syntax (2813577193.py, line 1)

In [72]:
set1.()

AttributeError: 'set' object has no attribute 'append'

In [68]:
set1

[1, 2, 3, 4, 12, 12, 123, [12, 123], [111, 1234]]

In [ ]:
Assignment
Read on string, list, tuple, set, dictionary methods
also be able to explain 2 methods from each

In [79]:
[i for i in dir(str) if not i.startswith("_")]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [80]:
[i for i in dir(list) if not i.startswith("_")]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [81]:
[i for i in dir(tuple) if not i.startswith("_")]

['count', 'index']

In [82]:
[i for i in dir(set) if not i.startswith("_")]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
set operations

In [ ]:
Union operation. It helps to combine two sets
The operator is | (pipe)

In [67]:
{1, 2, 3, 4} | {5, 6, 7}

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
Intersection Operation - It creates a set containing only the common
elements from both sets
The operator is & (ampersand)

In [69]:
{1, 2, 3, 4, 5} & {5, 6, 7, 4}

{4, 5}

In [ ]:
Dictionaries- This is an semi-ordered and mutable collection of 
datatypes.
A Dictionary is denoted by curly braces aka curly brackets "{}".
Each member is seperated by a comma. This is very important.
The Dictionary datatype does not allow repetitions.

In [ ]:
They have a special feature i.e. Key - value pairs

In [ ]:
key: value

In [ ]:
The key can be a string or an integer
the value can be any datatype even another dictionary

In [71]:
dict_1 = {"name": 'Ade', 'age': 20, 
          'hobbies': ["eating", 'sleeping']}
dict_1

{'name': 'Ade', 'age': 20, 'hobbies': ['eating', 'sleeping']}

In [ ]:
To get out a certain value, you have to pass the key of that value
as the index

In [74]:
dict_1["age"]

20

In [77]:
dict_1["age"] = 22
dict_1

{'name': 'Ade',
 'age': 22,
 'hobbies': ['eating', 'sleeping'],
 'country': 'nigeria'}

In [78]:
del dict_1['country']
dict_1

{'name': 'Ade', 'age': 22, 'hobbies': ['eating', 'sleeping']}

In [ ]:
Exercises
Given the nested_list = [[1,2,3], [4,5,6], [7,8,9]]
assess and print the following
1. The first element of the first sublist
2. The last element of the last sublist
3. The second element of the second sublist

Given the nested list
[[10, 11, 12], [13, 14, 15], [16, 17, 18], [19, 20, 21]]
perform the following operations
1. Slice and print the first two sublists
2. Slice and print the last two elements of the second sublist
3. Slice and print the middle element of each sublist

In [ ]:
What is the output of the expression True and False

In [ ]:
what is the output of the expression not(True or False)

In [ ]:
what is the output of the output of True or (False and True)

In [ ]:
State the conditions to get a True boolean value from the and, or 
and not operations
Concatenate two tuples (1,2,3) and (3,4) and print the result

In [ ]:
Given sets A = {1,2,3} and B={3,4,5}. Find the union and 
intersection of A and B