In [ ]:
Else statements
The while Loop
Functions

In [ ]:
Assignment 1
Read on else statements and the while loop.

In [ ]:
Assignment 2
Read on errors, classes

In [ ]:
Else statements
The if and else statement. They have onen similarity, that is both 
of them can only be used once.
Else statements are statements that are used to terminate your if
statements.
Note: For you to have an else statement you have to first have a
corresponding if statement.

In [ ]:
Else statement have a very simple syntax. They do not require a
condition. The reason for that is, simple because the code under 
your else statement will only be run if the if and the elif 
statements are false.

The else statement follows the following format
else:
    code

In [3]:
movie = input("What movie do you want to watch? ")
available_movies = ['Stars War', 'Avengers Endgame', 'Paw Patrol']

if movie in available_movies:
    print("We have the movie")
else:
    print("We don't have it")

What movie do you want to watch? Moxie
We don't have it

In [ ]:
if
elif
else

In [ ]:
car = input("Which Car do you want to buy? ")
available_cars = ['Toyota', 'Nissan', 'Bugatti']
incoming_cars = ['Ferrari']
if car in available_cars:
    print("We have the car")
elif car in incoming_cars:
    print("We don't have it, but it's coming")
else:
    print("We don't have it")

In [ ]:
Design a program that grades a student
if the student score 90 and above, give the student an "A"
if the student score between 80 and 90, give the student an "B"
if the student score between 70 and 80, give the student an "C"
if the student score between 60 and 70, give the student an "D"
else give the student an 'F'

In [5]:
score = input("What did you score? ")
score = int(score)
if score >= 90:
    print('A')
elif score >= 80 and score < 90:
    print('B')
elif score >= 70 and score < 80:
    print('C')
elif score >= 60 and score < 70:
    print('D')
else:
    print('F')

What did you score? 70
C

In [ ]:
The while Loop
This is a loop that will run until the condition provided is false.
It has the following syntax
While Condition:
    code

In [ ]:
created a while loop that counts to 5

In [ ]:
Str - It is a function that converts any other acceptable datatype 
into a string

In [2]:
num = 0
while num != 6:
    num = num + 1
    print("This is the "+ str(num) + "st Loop")
    print("Num is " + str(num))

This is the 1st Loop
Num is 1
This is the 2st Loop
Num is 2
This is the 3st Loop
Num is 3
This is the 4st Loop
Num is 4
This is the 5st Loop
Num is 5
This is the 6st Loop
Num is 6

In [ ]:
Create a while loop to calculate the sum of 1 to 5

In [ ]:
Create a condition
Created a variable to update our condition
Created our while loop
Created a way to update our variable
Update our total variable with each loop

In [12]:
num = 0
Total = 0
while num != 5:
    num = num + 1
    print("This is the "+ str(num) + "st Loop")
    print("Num is " + str(num))
    Total = Total + num
print(Total)

This is the 1st Loop
Num is 1
This is the 2st Loop
Num is 2
This is the 3st Loop
Num is 3
This is the 4st Loop
Num is 4
This is the 5st Loop
Num is 5
15

In [ ]:
Created a login page using a while loop
ensure the password collected is "pass123" to break out of the 
loop
if the password isn't correct, continue asking the user for the 
correct password

In [14]:
password = input("What is your password? ")
while password != "pass123":
    password = input("What is your password? ")

What is your password? 1234
What is your password? 5678
What is your password? pass123

In [ ]:
create a while loop that counts to 20

In [1]:
num = 0

while num < 20:
    num = num + 1
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
Functions - This is a block of reusable code. 
To use a function
you first have to define or create it
you have to call your function

To call your function, you simply write out your function name
and beside you put your ()

In [17]:
def Print_something():
    print("Hello, How are you")

In [19]:
def my_name():
    print("Hello, my name is Ayo")

In [20]:
my_name()

Hello, my name is Ayo

In [ ]:
arguments and parameters - They are be used interchangeable. 
arguments are placeholders in your function. They act as variables
inside your function.
They must be filled in with values when calling our function

In [ ]:
Assignment 3
Read on local and global scope

In [21]:
def my_name(name):
    print("Hello, my name is " + name)

In [25]:
my_name("ayo")

Hello, my name is ayo

In [ ]:
my_age takes 1 argument
print my name is

In [ ]:
Types of arguments
1. Positional ...
2. Keyword ....

In [26]:
def my_name(name="ayo"):
    print("Hello, my name is " + name)

In [32]:
def me(name, age):
    print("Hello, my name is " + name + " My age is " + age)

In [34]:
me("17", 'Ayo')

Hello, my name is 17 My age is Ayo

In [29]:
def me(name="ayo", age='17'):
    print("Hello, my name is " + name + " My age is " + age)

In [31]:
me(age='20')

Hello, my name is ayo My age is 20

In [ ]:
Positional arguments must always come before the keyword arguments

In [37]:
def me(a, b, name="ade", age='12'):
    print(a+b)
    print("Hello, my name is " + name + " My age is " + age)

In [38]:
me(1, 2, name='tunde')

3
Hello, my name is tunde My age is 12

In [ ]:
exercise
create a function with 4 positional arguments and 2 keyword 
arguments
print(the sum of the first 2 positional arguments)
print(the product of the last 2 positional arguments)
concatenate the keyword arguments and print the output
call the function

In [22]:
x = 25 
def num():
    global x
    x = 12
    print(x)

In [23]:
print(x)
num()

25
12

In [24]:
print(x)

12

In [13]:
x= 18
print(x)

18

In [14]:
x = 56

In [15]:
print(x
     )

56

In [25]:
name = "Adebayo"
age = 1234
print(f"The boy name is {name} and He is {age}years old")

The boy name is Adebayo and He is 1234years old

In [1]:
def addition (num1, num2):
    return num1 + num2

In [2]:
addition(3,67
        )

70