In [11]:
name = "Jamiu"
school = "UI"
age = 1234
hobby = "pressing phone"

In [ ]:
olaojopaul64@gmail.com

# No 1

In [1]:
number = 12
string = "TRD"
Float = 23.45
Boolean = True
List = [1,2,3,4]

# No.2

In [2]:
# strings
"Hello"
"Femi"
"University"
"Lord"
"Happy"

# Integer

23
45
1234675
78
90

# Float
34.6
56.7
90.1
45.0009
0.004

# Tuple
("manny",24,True,20.09)
(1,2,3,4,5)
("name","age","call")
("45",45)
(45.45,12,True)

(45.45, 12, True)

# No 3

In [3]:
string_list = ["B.m.W", "Apple", "Femi"]
integer_list = [1,2,3,456,7865]
mixed_list = [1, 1.1, "ball"]

# No.4

In [4]:
Nested_List = [[1,2,3], ["apple", "banana"], [1.2,3.5]]

# No 5

In [6]:
x = 5 +4
g = 5-2
f = 3 * 2
h= 4 / 2
q= 35//2
d = 35**2
p = 23%2
print(x,g,f,h,q,d,p)

9 3 6 2.0 17 1225 1

# No 6

In [9]:
# var1=(f'Python''lovers')
# print(var1)
var1 = "Python" +" " + "lovers"
print(var1)

Python lovers

In [12]:

print(f"My name is {name},I'm a student of {school}")

My name is Jamiu,I'm a student of UI

DRY
D: donot
R: repeat
Y: yourself

# NO7

1.variables must not begin with a number
2. variables must not be enclosed in quotation marks
3. variables must not begin with a character
4. variables must not have white space in them

# NO 8

In [14]:
a=23
b="hello"
c=True
d=57.8
e={2,6,7,8}
f=[34,6,5,8,0,12]
g=(1,2,3,4)

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'set'>
<class 'list'>
<class 'tuple'>

In [15]:
print(a)

23

In [16]:
print('"Roses are red,\nViolets are blue,\nPhython is great,\nSo how are you."')

"Roses are red,
Violets are blue,
Phython is great,
So how are you."

In [19]:
username = input("Enter your username: ")
password = input("Enter your password: ")
if (username == "McMaggie" and   password == "2024"):
    print("You've logged in")
else:
    print( "You are not eligible")

Enter your username:  Femi Jamiu
Enter your password:  2006

You are not eligible

In [28]:
my_list=[1,2,3,4,'hello','where','do','you','go',[67,'places',[34,65.5,9,'Nigeria'],'University'],'Righeousnesss']
# print = a[5]
# print = b[8]
# print = c[3]
# print = d[9,1]
# print = e[9,2,2]
# print = f[9,2,3]
# print = g[9,3,3]

In [35]:
print(my_list[5])
print(my_list[8])
print(my_list[3])
print(my_list[9][1])
print(my_list[9][2][2])
print(my_list[9][2][3])
print(my_list[10])

where
go
4
places
9
Nigeria
Righeousnesss

In [53]:
num = [1,2,3,4,5,6,7]
num.append(8)
#num.clear()

#num.copy()
#print(num.count(1))
#num.extend(["a","b"])
num1=num.index(5)
print(num1)

4

In [55]:
my_list2 = [[10, 11, 12], [13, 14, 15], [16, 17, 18], [19, 20, 21]]

In [64]:
my_list2[-2:]

[[16, 17, 18], [19, 20, 21]]

In [66]:
my_list2[0][1], my_list2[1][1],my_list2[2][1],my_list2[3][1]

(11, 14, 17, 20)

# CONTROL FLOW

In [74]:
age = int(input("Enter your age: "))
if age >= 18:
    print("You are eligible to drive")
else:
    print("C'mon you are underage!")

Enter your age:  12

C'mon you are underage!

In [76]:
for item in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
    print( item)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [82]:
Age = int(input("Enter your age my friend: "))
if Age < 13:
    print("Child;omode ni e")
elif (Age >= 13 )and (Age <= 19):
    print("Teenager")
else:
    print("Adult")

Enter your age my friend:  20

Teenager

In [84]:
93%3

0

In [90]:
num = int(input("Enter any number: "))
if num%3 == 0 and num%5 == 0:
    print("Divisible by both")
elif num % 3 == 0:
    print("Divisible by 3")
elif num % 5 == 0:
    print("Divisible by 5")
else:
    print("Not divisible by 3 or 5")

Enter any number:  20

Divisible by 5

In [107]:
grade = int(input("Enter Your Grade:"))

if grade >= 90:
    print("A")
elif grade >= 80 and grade < 90:
    print('B')
elif grade >= 70 and grade <= 80:
    print('C')
elif grade >= 60 and grade <= 70:
    print('D')
else:
    print("sorry ooh you got an F, try again next term")

Enter Your Grade: 57

sorry ooh you got an F, try again next term

In [108]:
def subtraction(num1,num2):
    return num1 - num2

In [110]:
subtraction(3,4)

-1

In [112]:
def multiplication(num1,num2):
    return num1 * num2

In [113]:
multiplication(1,2)

2

In [115]:
def division(num1,num2):
    return num1 / num2

In [116]:
division(4,2)

2.0