# LAMBDA
- A  lambda function is a small anonymous function
- A lambda function can take any number of arguments, but can only have one expression

# SYNTAX 
- lambda arguments : expression

In [2]:
# Add 23 to argument a, and return the result
x = lambda a : a + 23
print(x(34))

57

In [3]:
print(x(77))

100

In [4]:
y = lambda t,f : t * f
print(y(7,45))

315

In [5]:
def addition(num1, num2):
    return num1 + num2

# Why Use Lambda Functions?
- The best way to use lambda and see how powerful lambda can be it is by using lambda as an anonyous function inside another function.
- For example;
-  def myfunc(n):
_______return lambda a: a * n

In [9]:
def myfunc(n):
    return lambda a : a * n

my_doubler = myfunc(3)
print(my_doubler(23))

69

# TYPE OF ERRORS
- Syntax error
- Indentation error
- Name error
- Type error
- Zero Division error

In [16]:
def addition(num1, num2)
    return num1 + num2

SyntaxError: invalid syntax (1900980822.py, line 1)

In [15]:
for item in "Naira":
print(item)

IndentationError: expected an indented block (1720894449.py, line 2)

In [17]:
Bank = "Alajeseku Bank"
print(bank)

NameError: name 'bank' is not defined

In [28]:
def addition(num1, num2):
    return num1 + num2

In [29]:
addition()

TypeError: addition() missing 2 required positional arguments: 'num1' and 'num2'

In [30]:
num1 = int(input("Enter any number: "))
num2 = int(input("Enter any number: "))
print(num1/num2)

Enter any number:  34
Enter any number:  0

ZeroDivisionError: division by zero

# TYPE CONVERSION OR CASTING

In [34]:
print(int("12"))

12

In [ ]:
int()

In [35]:
num = 12
type(num)

int

In [39]:
str_num = str(num)

In [40]:
type(str_num)

str

In [42]:
set1 = {1,2,3,4,5}

In [44]:
type(set1)

set

In [46]:
my_list = list(set1)
type(my_list)

list

In [47]:
print(my_list)

[1, 2, 3, 4, 5]

In [48]:
setttt = set(my_list)
type(setttt)

set

In [50]:
dict()

{}

In [51]:
float()

0.0

# ASSIGNMENT

- int()
- float()
- set()
- list()
- dict()
- str()

- use all the type conversion mentioned above

In [21]:
current_year = int(input("Enter the current year: "))
YOB = int(input("Enter your year of birth: "))
age = current_year - YOB
print(f"You are {age} years old")

Enter the current year:  2024
Enter your year of birth:  1960

You are 64 years old

# Creating Calendar using Python

In [7]:
import calendar 
year = int(input("Enter the year you want to check: "))
cal = calendar.prcal(year)
print(cal)

Enter the year you want to check:  4050

                                  4050

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31
None

In [ ]:
calendar.prcal()